@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'), url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Thin';
    src: local('Roboto Thin'), url('./fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.search-page {
    width: 100%;
    height: auto;
}

#container-itens-search-page {
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.2em;
}

#filtro-busca {
    width: 101%;
    height: 3.6em;
    background-color: #55A5F4;
    margin-top: 1em;
    padding-top: .6em;
    padding-left: .5em;
}

#combobox {
    width: 18.6em;
    height: 2.5em;
    font-family: 'Roboto';
    border: 2px solid #4380BD;
    border-radius: 4px;
    float: left;
}

#combobox:focus {
    outline: none;
}

#input-search {
    width: 50.4em;
    height: 2.5em;
    font-family: 'Roboto';
    border: 2px solid #4380BD;
    border-radius: 4px;
    margin-left: .5em;
    padding-left: .5em;
    float: left;
}

#btn-style {
    height: 2.5em;
    width: 12em;
    font-family: 'Roboto';
    font-size: 14px;
    border: 2px solid #4380BD;
    color: white;
    border-radius: 3px;
    margin-left: .5em;
    padding-top: .5em;
    padding-bottom: 1.98em;
    float: left;
}

#btn-style:hover {
    cursor: pointer;
    background-color: #326699;
    border-color: #326699;
}

#div-filtro-avancado{
    width: 42em;
    height: 15em;
    background-color: #4380BD;
    margin-top: 3em;
    z-index: 5;
    position: absolute;
    right: 1.5em;
}

#input-registry {
    width: 18.6em;
    height: 2.5em;
    font-family: 'Roboto';
    border: 2px solid #4380BD;
    border-radius: 4px;
    padding-left: .5em;
}

.checkbox {
    color: white;
    font-family : 'Roboto';
    font-size : 14px;
}

#container-resultados {
    width: 101%;
    height: auto;
    margin: 0 auto;
    margin-top: 2em;

}

#container-button-mais {
    width: 101%;
    height: auto;
    float: left;
    margin-top: 4em;
    margin-bottom: 4em;
}

.btn-mostrar {
    border: 3px solid #4380BD;
    color: #4380BD;
    height: 3em;
    background-color: rgba(0,0,0,0);
    width: 14em;
    font-size: 18px;
    font-family: 'Roboto Bold';
    border-radius: 6px;
}

.btn-mostrar:hover {
    border: 3px solid #4380BD;
    color: white;
    background-color: #4380BD;
}
