@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'), url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: local('Roboto Light'), url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#card-organizacao-body {
    width: 18em;
    height: 21.5em;
    background-color: #4380BD;
    margin-right: 1.8em;
    float: left;
}

#card-organizacao-body:hover {
    cursor: pointer;
    opacity: .9;
}

#img-background-org {
    width: 100%;
    height: 80%;
}

#content-org{
    width: 100%;
    height: 10em;
    position: relative;
    z-index: 2;
    margin-top: -5.5em;
    background-color: black;
}

#desc-org{
    width: 100%;
    height: 73%;
    background-color: white;
    text-align: center;
}

#infos-org{
    width: 100%;
    height: 31%;
    background-color: #55A5F4;
}

#logo-org{
    width: 5.5em;
    height: 5.5em;
    border: 3px solid #4380BD;
    border-radius: 5em;
    margin: 0 auto;
    display: block;
    box-shadow: 0em .2em .34em rgb(175, 175, 175);
    background-color: white;
}

#nome-org {
    font-size: 17px;
    font-family: 'Roboto Bold';
    margin-bottom: -.05em;
}

#subtitulo-org {
    font-size: 13px;
    font-family: 'Roboto Bold';
    color: #BABABA;
    width: 80%;
    margin: 0 auto;
}

#campanhas {
    width: 32.8%;
    height: 100%;
    float: left;
    padding-top: .3em;
}

#voluntarios {
    width: 32.8%;
    height: 100%;
    float: left;
    padding-top: .3em;
}

#acoes {
    width: 32.8%;
    height: 100%;
    float: left;
    padding-top: .3em;
}

.vertical-line {
    border-right: 1px solid white;
    height: 60%;
    width: .05px;
    float: left;
    margin-top: .3em;
}
