#card-campanha-body {
    width: 17em;
    height: 19em;
    background-color: white;
    margin-right: 1.8em;
    float: left;
}

#background-img-card {
    width: 100%;
    height: 80%;
}

#painel-card {
    width: 100%;
    height: 6.8em;
    position: relative;
    z-index: 2;
    margin-top: -3em;
    background-color: white;
}
