@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'), url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: local('Roboto Light'), url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.card-plano-body{
    width: 27em;
    height: 45em;
    background-color: #FFFFFF;
    margin-right: 0.15em;
    float: left;
    padding: 1em;
}

.title-card-plano{
    font-family: 'Roboto';
    color: #4380BD;
    font-size: 24px;
    padding: 0.5em 0;
    text-align: center;
}

.valor-plano{
    font-family: 'Roboto Bold';

    font-size: 36px;
    padding-top: 1em;
    margin-bottom: 0em;
    text-align: center;
}

.recorrencia-plano{
    font-family: 'Roboto';
    font-size: 18px;

    text-align: center;
}

.titulo-beneficios{
    font-family: 'Roboto Light';
    font-size: 18px;

    text-align: center;
    margin-top: 3em;
}