@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#carousel {
    width: 101%;
    height: 23em;
    background-color: rgba(85, 165, 244, 1);
}

#container-carousel {
    width: 100%;
    height: 100%;
}

#item-content {
    width: 90%;
    height: 100%;
    float: left;
}

.div-controls {
    width: 5%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 3;
}

.div-controls:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(85, 165, 244, 0), rgba(85, 165, 244, 1));
}

#titulo-carousel {
    font-size: 36px;
    font-family: 'Roboto';
    color: white;
}

#nome-campanha {
    font-size: 24px;
    font-family: 'Roboto';
    color: white;
}

#desc-campanha {
    font-size: 18px;
    font-family: 'Roboto';
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.btn-acessar {
    border: 2px solid white;
    color: white;
    height: 3.3em;
    background-color: rgba(0,0,0,0);
    width: 14em;
    font-size: 14px;
    font-family: 'Roboto';
    border-radius: 12px;
    margin-top: 5em;
    margin-left: 18.5em;
}

.btn-acessar:hover {
    border: 2px solid white;
    color: rgba(209, 118, 118, 0.4);
    background-color: white;
}

#title-row {
    height: 6em;
    padding-top: 1.5em;
}

#content-row {
    height: 14.5em;
}

#indicators-row {
    height: 2.5em;
}

#indicators {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.indicator {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

.indicator:hover {
    background-color: rgba(255,255,255,0.63);
    cursor: pointer;
}

#indicator_01 {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

#indicator_01_selected {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    background-color: rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

#indicator_02 {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

#indicator_02_selected {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    background-color: rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

#indicator_03 {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

#indicator_03_selected {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    background-color: rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

#indicator_04 {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

#indicator_04_selected {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    background-color: rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

#indicator_05 {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

#indicator_05_selected {
    width: .8em;
    height: .8em;
    border: 2px solid rgba(255,255,255,0.63);
    background-color: rgba(255,255,255,0.63);
    border-radius: 10em;
    float: left;
    margin-right: .2em;
    margin-top: .7em;
}

.arrows {
    width: 2em;
    height: 2.5em;
    margin-left: 1em;
    margin-top: 10em;
}

.arrows:hover {
    cursor: pointer;
    width: 2.2em;
    height: 2.7em;
    margin-top: 9.9em;
}

#item-image-background {
    width: 105.56%;
    height: 100%;
    background-color: rgba(85, 165, 244, 1);
    position: relative;
    z-index: 0;
}

#item-container {
    position: absolute;
    z-index: 1;
}

#item-img {
    height: 100%;
    width: 50%;
    float: right;
    position: relative;
    z-index: 1;
}

#item-img-effect {
    height: 100%;
    width: 50%;
    position: absolute;
    margin-left: 40.3em;
    z-index: 2;
    background-image: linear-gradient(to left, rgba(85, 165, 244, 0), rgba(85, 165, 244, 1));
}
