body {
    background-color: #DCDCDC;
    background-image: url("../images/background_site.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

.homepage {
    width: 100%;
    height: 100vh;
}

#container-itens-homepage {
    width: 93%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.2em;
    background-color: green;
}