#registry-minhas-doacoes {
    width: 100%;
    height: 3em;
    background-color: #DCDCDC;
    color: black;
    margin-top:1px;
    padding-top: .6em;
}

.column-registry-minhas-doacoes {
    float: left;
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto';
}

.vertical-line-registry-minhas-doacoes {
    border-right: 1px solid black;
    height: 70%;
    width: .05px;
    float: left;
}
