#registry-minhas-campanhas {
    width: 100%;
    height: 3em;
    background-color: #DCDCDC;
    color: black;
    margin-top:1px;
    padding-top: .6em;
}

.column-registry-minhas-campanhas {
    float: left;
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto';
}

.vertical-line-registry-minhas-campanhas {
    border-right: 1px solid black;
    height: 70%;
    width: .05px;
    float: left;
}

#btn-inativar {
    border: none;
    background-color: #F52424;
    color: white;
    font-family: 'Roboto';
    font-size: 14px;
    border-radius: 3px;
    padding: .5em 4em;
    margin-top: -.5em;
}

#btn-inativar:hover {
    background-color: #d82222;
}

#icon-editar {
    width: 1.1em;
    height: 1.1em;
}

#icon-editar:hover {
    cursor: pointer;
    background-color: #c9c7c7;
}
