@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'), url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: local('Roboto Light'), url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#content-campanha {
    width: 100%;
    height: 100%;
}

#div-titulo {
    width: 100%;
    height: 25em;
    background-color: #C4C4C4;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    text-align: center;    
}

#titulo-campanha {
    color: white;
    font-size: 64px;
    font-family: 'Roboto Bold';
}

#div-info-org {
    width: 100%;
    height: 5.5em;
    background-color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    position: relative;
    z-index: 1;
}

#logo-organizacao {
    width: 10em;
    height: 10em;
    background-color: #DCDCDC;
    float: left;
    border-radius: 10em;
    border: 2px solid #4380BD;
    margin-top: -3.5em;
}

#logo-organizacao:hover {
    cursor: pointer;
}

#nome-organizacao {
    font-size: 20px;
    font-family: 'Roboto';
    float: left;
    margin-left: 1.5em;
    margin-top: .2em;
}

#nome-organizacao:hover {
    cursor: pointer;
}

#btn-voluntariar {
    width: 11em;
    height: 3em;
    background-color: #F4A100;
    border: none;
    color: white;
    border-radius: 4px;
    float: right;
    font-size: 14px;
    font-family: 'Roboto';
}

#btn-voluntariar:hover {
    background-color: #e29702;
}

#infos-campanha {
    width: 97%;
    height: 30em;
    margin: 0 auto;
    margin-top: 5em;
}

#div-desc {
    width: 61.7%;
    height: auto;
    background-color: white;
    border-radius: 8px;
    float: left;
    margin-bottom: 3em;
    padding: 2em 2em;
}

#div-doacao {
    width: 37%;
    height: auto;
    background-color: white;
    border-radius: 8px;
    float: left;
    margin-left: 1.21%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 3em;
}

.titulo-desc-campanha {
    color: #4380BD;
    font-size: 22px;
    font-family: 'Roboto';
}

.hr-titulo-desc-campanha {
    background-color: #4380BD;
    border: .1px solid #4380BD;
    margin-top: -1em;
}

#texto-desc {
    color: #575757;
    font-size: 18px;
    font-family: 'Roboto';
    text-align: justify;
    height: auto;
    margin-bottom: 8em;
}

#div-comentarios {
    width: 100%;
    height: 30em;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
}

#slider-tela-campanha {
    -webkit-appearance: none;
    width: 100%;
    height: 5em;
    background-color: #C4C4C4;
    outline: none;
    position: relative;
    z-index: 1;
}

#load-slider-tela-campanha {
    width: 50%;
    height: 5em;
    background-image: linear-gradient(to left, rgb(31, 212, 1), rgb(25, 177, 0));
    float: right;
}

#slider-arrecadados-tela-campanha {
    width: 100%;
    height: auto;
    text-align: center;
}

#text-slider-tela-campanha {
    color: white;
    position: absolute;
    z-index: 2;
    font-size: 18px;
    padding-top: 1.5em;
    font-family: 'Roboto Light';
    width: 35.9%;
    height: 4.5em;
}

#div-doacoes {
    width: 100%;
    height: 13.1em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: -.5em;
    margin-bottom: 3em;
}

#btn-doar-campanha {
    width: 100%;
    height: 2em;
    color: white;
    background-color: #55A5F4;
    border: none;
    border-radius: 4px;
    font-size: 36px;
    font-family: 'Roboto Bold';
}

#btn-doar-campanha:hover {
    background-color: #4686c7;
}

#msg-comentario-inexistente {
    font-size: 16px;
    font-family: 'Roboto Light';
    margin-bottom: -.05em;
}
